footer{
    background: linear-gradient(#0009, #0009),url("../assets/pics/textured-metal-background.jpg");
    background-size: contain;
    background-position: center center;
    color: #fff;
    box-shadow: 0px -1px 5px #0007
}
footer>.container{
    width: 80%;margin: auto;padding: 3% 0%;
    background-color: rgba(240, 255, 255, 0);
    display: flex;color: #fff;justify-content: space-between;flex-wrap: wrap;
    column-gap: 1rem;row-gap: 1rem;
}

footer>.container>.about{
    width: 25%;
}
footer>.container>.about>div{
    display: flex;align-items: center;
}
footer>.container>.about>div>img{
    width: 13%;width: 2.9rem;
}
footer>.container>.about>div>.logo{
    margin-left: 0.3rem;
    color: white;font-size: 1.8rem;letter-spacing: -1px;
}
footer>.container>.about>div>.logo>span{
    color: var(--color-primary);
}
footer>.container>.about>p{
    font-size: 0.91rem;
    margin-block: 0.625rem;
    line-height: 1.3rem;
    color: #ececec;
}
footer>.container>.about>h3{
    color: white;text-align: center;
    padding: 0.625rem;
    border-bottom: 2px solid #ddd6;
    font-size: 1.1rem;
    margin-bottom: 0.625rem;
}
footer>.container>.about>.social-links{
    display: flex;justify-content: space-evenly;align-items: center;
    font-size: 1.3rem;
}
footer>.container>.about>.social-links>a>i{
    color: white;transition: 0.3s ease-in;
}
footer>.container>.about>.social-links>a>i:hover{
    color:var(--color-primary);
}
footer>.container>.subscription{
    background-color: rgba(125, 125, 125, 0);
    width: 49%;
}
footer>.container>.subscription>h3{
    color: #fff;font-family: "Inter", sans-serif;font-weight: bold;
    font-size: 1.1rem;margin-block: 0.8rem;
}
footer>.container>.subscription>p{
    color: #ececec;
    font-size: 0.9rem;
    margin-block: 0.625rem;
    line-height: 1.25rem;
    color: #ececec;
}
footer>.container>.subscription>form{
    display: flex;justify-content: space-between;align-self: center;
    height:2.4rem;margin: 1rem 0rem;
}
footer>.container>.subscription>form>input{
    width: 80%;
    outline: none;
    padding: 1rem;
}
footer>.container>.subscription>form>input:focus{
    outline: 2px solid var(--color-primary);
    border:none
}
footer>.container>.subscription>form>button{
    width: 18.6%;
    background-color: var(--color-primary);
    color: var(--header-background-color);
    display: flex;justify-content: space-evenly;align-items: center;
    font-size:0.85rem;
    border: none;transition: 0.3s ease-in;
    cursor: pointer;

}
footer>.container>.subscription>form>button:hover{
    background-color: var(--color-primary-h);
}

footer>.container>.subscription>form>button>i,footer>.container>.subscription>form>button>p{
    color: var(--header-background-color);
}

footer>.container>.subscription>.quick-links{
    background-color: rgba(255, 0, 0, 0);
}
footer>.container>.subscription>.quick-links>h3{
    color: #fff;
    font-size: 1.1rem ;
    margin-top: 1rem;

}
footer>.container>.subscription>.quick-links>ul{
    margin-top: 0.6rem;
    list-style: none;
    display: flex;flex-wrap: wrap;
    justify-content: space-between;align-items: center;
    gap: 4px;
}
footer>.container>.subscription>.quick-links>ul>li{
    width: 48%;color:#ececec;
    background-color: rgba(0, 0, 255, 0);
    transition: 0.3s ease-in-out;
    padding: 0.3rem 0.3rem;
    font-size: 0.9rem;
    border-radius: 3px;
}
footer>.container>.subscription>.quick-links>ul>li:hover{
    transform: translateX(0.5rem);
    background-color:#7a7a7a4a ;
    color: var(--color-primary);
    font-weight: bold;
    cursor: pointer;
}
footer>.container>.subscription>.quick-links>ul>li>span>i{
    color:#ececec;
    font-size: 0.9rem;
    margin-right: 0.4rem;
    transition: 0.3s ease-in-out;
}
footer>.container>.subscription>.quick-links>ul>li:hover span>i{
    color: var(--color-primary);
}
footer>.container>.contact-details{
    width: 19%;
    padding-top: 0.5rem;
}
footer>.container>.contact-details>h3{
    color: #fff;margin-bottom: 0.9rem;
    font-size: 1.1rem ;
}
footer>.container>.contact-details>.cd-info{
    display: flex;flex-direction: column;
    row-gap: 1rem;
}
footer>.container>.contact-details>.cd-info>div{
    display: flex;align-items: center;
    padding: 0.1rem;
}
footer>.container>.contact-details>.cd-info>div>i{
    color: var(--color-primary);font-size: 1.2rem;margin-right: 0.7rem;
}
footer>.container>.contact-details>.cd-info>div>p{
    color: #ececec;
    font-size: 0.9rem;
    line-height: 1.25rem;
    color: #ececec;
}




/*✅ Bootstrap Breakpoints Reference:
Breakpoint	Width Range
xl	≥ 1200px
lg	≥ 992px and <1200px
md	≥ 768px and <992px
sm	≥ 576px and <768px
xs	< 576p
*/
/* LG: Between 992px and 1199.98px (Bootstrap's large screens) */




/* Large (LG): ≥992px and <1200px */
@media (min-width: 992px) and (max-width: 1199.98px) {
    footer>.container{
        justify-content: space-evenly;
        row-gap: 2rem;column-gap: 5rem;
    }
    footer>.container>.about{
        width: 35%;
    }
    footer>.container>.about>p{
        font-size: 1.1rem;line-height: 1.5rem;
    }
    footer>.container>.about>h3{
        font-size: 1.2rem;
    }
    footer>.container>.about>.social-links>a>i{
        font-size: 1.5rem;
    }

    footer>.container>.subscription{
        background-color: rgba(125, 125, 125, 0);
        width: 87%;order: 3;
    }
    footer>.container>.subscription>h3{
        font-size: 1.2rem;
    }
    footer>.container>.subscription>p{
        font-size: 1.1rem;line-height: 1.5rem;
    }
    footer>.container>.subscription>form{
        height: 3.3rem;
    }
    footer>.container>.subscription>form>input{
        font-size: 1.1rem;
    }
    footer>.container>.subscription>form>button{
        font-size: 1.1rem;width: 18%;
    }
    footer>.container>.subscription>form>button>i{
        font-size: 1.2rem;
    }
    footer>.container>.subscription>.quick-links>h3{
        font-size: 1.2rem;
    }
    footer>.container>.subscription>.quick-links>ul>li{
        font-size: 1.2rem;
        padding-block: 0.4rem;
    }
    footer>.container>.contact-details{
        width: 38%;
        padding-top: 1rem;
        justify-self:last baseline;
    }
    footer>.container>.contact-details>h3{
        font-size: 1.2rem;
    }
    footer>.container>.contact-details>.cd-info>div>p{
        font-size: 1.1rem;line-height: 1.5rem;
    }
    footer>.container>.contact-details>.cd-info>div>i{
        font-size: 1.5rem;
    }




    
    
}

/*Medium (MD): ≥768px and <992px */
@media (min-width: 768px) and (max-width: 991.98px) {
    footer>.container{
        width: 80%;
        justify-content: space-evenly;
        row-gap: 2rem;column-gap: 5rem;
    }
    footer>.container>.about{
        width: 35%;
    }
    footer>.container>.about>p{
        font-size: 1.1rem;line-height: 1.5rem;
    }
    footer>.container>.about>h3{
        font-size: 1.2rem;
    }
    footer>.container>.about>.social-links>a>i{
        font-size: 1.5rem;
    }

    footer>.container>.subscription{
        background-color: rgba(125, 125, 125, 0);
        width: 87%;order: 3;
    }
    footer>.container>.subscription>h3{
        font-size: 1.2rem;
    }
    footer>.container>.subscription>p{
        font-size: 1.1rem;line-height: 1.5rem;
    }
    footer>.container>.subscription>form{
        height: 3.3rem;
    }
    footer>.container>.subscription>form>input{
        font-size: 1.1rem;
    }
    footer>.container>.subscription>form>button{
        font-size: 1.1rem;width: 18%;
    }
    footer>.container>.subscription>form>button>i{
        font-size: 1.2rem;
    }
    footer>.container>.subscription>.quick-links>h3{
        font-size: 1.2rem;
    }
    footer>.container>.subscription>.quick-links>ul>li{
        font-size: 1.2rem;padding-block: 0.4rem;

    }
    footer>.container>.contact-details{
        width: 38%;
        padding-top: 1rem;
        justify-self:last baseline;
    }
    footer>.container>.contact-details>h3{
        font-size: 1.2rem;
    }
    footer>.container>.contact-details>.cd-info>div>p{
        font-size: 1.1rem;line-height: 1.5rem;
    }
    footer>.container>.contact-details>.cd-info>div>i{
        font-size: 1.5rem;
    }
}
  
/*Small (SM): ≥576px and <768px */
@media (min-width: 576px) and (max-width: 767.98px) {
    footer>.container{
        flex-direction: column;
        justify-content: space-evenly;
        row-gap: 2rem;column-gap: 5rem;
        width: 83%;
        padding-top: 10%;


    }
    footer>.container>.about{
        width: 90%;
    }
    footer>.container>.about>p{
        font-size: 1.2rem;line-height: 1.8rem;
    }
    footer>.container>.about>h3{
        font-size: 1.3rem;
    }
    footer>.container>.about>.social-links>a>i{
        font-size: 1.7rem;
    }

    footer>.container>.subscription{
        background-color: rgba(125, 125, 125, 0);
        width: 100%;order: 1;
    }
    footer>.container>.subscription>h3{
        font-size: 1.3rem;
    }
    footer>.container>.subscription>p{
        font-size: 1.2rem;line-height: 1.8rem;
    }
    footer>.container>.subscription>form{
        height: 3.3rem;
    }
    footer>.container>.subscription>form>input{
        font-size: 1.1rem;
    }
    footer>.container>.subscription>form>button{
        font-size: 1rem;width: 18%;
    }
    footer>.container>.subscription>form>button>i{
        font-size: 1.2rem;
    }
    footer>.container>.subscription>.quick-links>h3{
        font-size: 1.3rem;
    }
    footer>.container>.subscription>.quick-links>ul>li{
        font-size: 1.2rem;
        padding-block: 0.5rem;
    }
    footer>.container>.contact-details{
        width: 70%;order: 5;
        padding-top: 1rem;
        justify-self:last baseline;
    }
    footer>.container>.contact-details>h3{
        font-size: 1.3rem;
    }
    footer>.container>.contact-details>.cd-info>div>p{
        font-size: 1.2rem;line-height: 1.5rem;
    }
    footer>.container>.contact-details>.cd-info>div>i{
        font-size: 1.7rem;
    }
    
    
}


/* Extra Small (XS): <576px */
@media (max-width: 575.98px) {
    footer{
        background: linear-gradient(rgba(0, 0, 0, 0.199), rgba(0, 0, 0, 0.199)),url("../assets/pics/textured-metal-background.jpg");
    }

    footer>.container{
        flex-direction: column;
        justify-content: space-evenly;
        row-gap: 2rem;column-gap: 5rem;
        width: 89%;
        padding-top: 10%;
    }
    footer>.container>.about{
        width: 90%;
    }
    footer>.container>.about>p{
        font-size: 1.1rem;line-height: 1.5rem;
    }
    footer>.container>.about>h3{
        font-size: 1.2rem;
    }
    footer>.container>.about>.social-links>a>i{
        font-size: 1.5rem;
    }

    footer>.container>.subscription{
        background-color: rgba(125, 125, 125, 0);
        width: 100%;order: 1;
    }
    footer>.container>.subscription>h3{
        font-size: 1.2rem;
    }
    footer>.container>.subscription>p{
        font-size: 1.1rem;line-height: 1.5rem;
    }
    footer>.container>.subscription>form{
        height: 6.2rem;width: 100%;
        display: flex; flex-direction: column;row-gap: 0.3rem;
    }
    footer>.container>.subscription>form>input{
        font-size: 1rem;width: 100%;height: calc(50% - 0.3rem) ;

    }
    footer>.container>.subscription>form>button{
        font-size: 1.1rem;width: 100%; height:calc(50% - 0.3rem);justify-content: center;
    }
    footer>.container>.subscription>form>button>i{
        font-size: 1.3rem;margin-right: 1rem;
    }
    footer>.container>.subscription>.quick-links>h3{
        font-size: 1.2rem;
    }
    footer>.container>.subscription>.quick-links>ul>li{
        font-size: 1.1rem;
        padding-block: 0.5rem;
    }
    footer>.container>.contact-details{
        width: 100%;order: 5;
        padding-top: 1rem;
        justify-self:last baseline;
    }
    footer>.container>.contact-details>h3{
        font-size: 1.2rem;
    }
    footer>.container>.contact-details>.cd-info>div>p{
        font-size: 1.1rem;line-height: 1.5rem;
    }
    footer>.container>.contact-details>.cd-info>div>i{
        font-size: 1.5rem;
    }
    
    
}

  
  











